name: build-and-publish
on: workflow_dispatch
jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2
      - name: Install Node.js with pnpm
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"
          registry-url: "https://registry.npmjs.org"

      - name: Update npm to latest version
        run: npm install -g npm@latest

      - run: pnpm install

      - uses: mymindstorm/setup-emsdk@v11
        with:
          version: 2.0.24

      - run: pnpm build

      - name: Publish to npm with OIDC and provenance
        run: npm publish --provenance --access public
